flask
faiss-cpu
sentence-transformers
torch
transformers
flask-cors
scikit-learn
pandas
numpy
rank_bm25
pymupdf
pdfplumber
jieba
accelerate
bitsandbytes
peft
datasets 
huggingface_hub 
tokenizers 
sentencepiece